body {
    display: flex;
    flex-direction: column;
    margin: -8px;
}

.headerAndHero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-bottom: 100px;
}

.header {
    font-size: 24PX;
    color: #F9FaF8;
    display: flex;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-links {
    display: flex;
    margin-left: auto;
    gap: 15px;   
}

.heroPart {
    background-color: #1F2937;
    display: flex;
    padding-left: 250px;
    padding-right: 250px;

}

.left-part {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: auto;
}

.heroTitle {
    font-size: 24px;
    color: #F9FAF8;
}

.heroText {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    width: 100px;
    border-radius: 5px;
    border-color: #3882F6;
    color: #E5E7EB;
    border-style: solid;
    padding: 2px;
}

.right-part {
    display: flex;
    width: 400px;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.infoNaslov {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.squares {
    display: flex;
    justify-content: center;
    padding-left: 250px;
    padding-right: 250px;
    gap: 20px;
    
}

.squares button{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border-color: #6ba4ff; 
    background-color: white;   
}

.squares p {
    width: 100px;
    height: 100px;
}

.sq1 {
    display: flex;
    flex-direction: column;
}

.sq2 {
    display: flex;
    flex-direction: column;
}

.sq3 {
    display: flex;
    flex-direction: column;
}

.sq4 {
    display: flex;
    flex-direction: column;
}

.quoteSection {
    background-color: #E5E7EB;
    padding-left: 250px;
    padding-right: 250px;
}

.quoteText {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote {
    display: flex;
    justify-content: right;
    font-weight: bold;
}

.callToAction {
    display: flex;
    flex-direction: column;
    margin: 50px;
    background-color: #3882F6;
    border-radius: 5px;
    margin: 50px 250px;
    padding: 10px;
    color: #E5E7EB;
}

.actionColum {
    display: flex;
    flex-direction: column;
    background-color: #3882F6;
}

.p1 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}

.actionRow {
    display: flex;
    align-items: center;
}

.p2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.actionRow button {
    margin-left: auto;
    border-color: #E5E7EB;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #1F2937;
    color: #E5E7EB;

    
}